        * {
            margin: 0;
            padding: 0;
            font-family: Raleway, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .container-top {
            display: flex;
            justify-content: space-around;
            background-image: linear-gradient(rgba(96, 98, 99, 0.589), rgba(68, 70, 71, 0.473)), url(starter-code/utils/images/hero-bg-desktop.jpg);
            background-position: center;
            background-size: cover;
            height: 50vh;
            width: 100%;
            padding-top: 20px;
        }
        
        .container-dine {
            color: white;
            margin-left: -200px;
            font-size: 20px;
            font-weight: 100px;
        }
        
        .h1-container1 {
            color: white;
            margin-left: -200px;
            margin-top: 80px;
            font-size: 60px;
            font-weight: 50;
        }
        
        .p-container {
            color: white;
            margin-left: -200px;
            font-size: 15px;
            font-weight: 50;
        }
        
        form {
            background-color: white;
            width: 330px;
            height: 40vh;
            position: relative;
            margin-left: 390px;
            margin-bottom: -300px;
            margin-top: -70px;
            padding-left: 20px;
            padding-top: 20px;
        }
        
        .name {
            width: 300px;
            border: none;
            border-bottom: 1px solid rgb(194, 191, 191);
            padding-bottom: 8px;
        }
        
        .email {
            width: 300px;
            border: none;
            border-bottom: 1px solid rgb(194, 191, 191);
            padding-bottom: 8px;
        }
        
        .date {
            width: 60px;
            border: none;
            border-bottom: 1px solid rgb(194, 191, 191);
            margin: 0 7px 0 7px;
        }
        
        .increment-decrement {
            display: flex;
            justify-content: space-between;
        }
        
        .decrement {
            margin-left: 20px;
            border: none;
            background-color: white;
        }
        
        .increment {
            margin-right: 60px;
            border: none;
            background-color: white;
        }
        
        .button-2 {
            margin: 10px 0 0 0;
            background-color: black;
            padding: 10px 50px 10px 50px;
            width: 300px;
            color: white;
            border-color: black;
        }
        
        .container-content-2 {
            padding-top: 100px;
            padding-bottom: 30px;
            padding-left: 45%;
            background-image: url(starter-code/utils/patterns/pattern-curve-bottom-right.svg);
            background-color: rgb(230, 223, 230);
        }
        
        .container-content-3 {
            background-color: black;
            height: 100px;
            padding-top: 70px;
            display: flex;
            justify-content: space-around;
            color: white;
        }